In [1]:
import pandas as pd
import npstat

In [2]:
df = pd.read_csv('Data/Educational Intervention on Menstrual health .csv')
df = df.dropna()

In [3]:
df.columns

Index(['Internet Access ', '1. Age',
       'If you have periods twice in 21 days do you think that is normal',
       'Education Level ', 'Area ',
       'What kind of medication you should take during periods',
       'After how long should you change your sanitary napkin.',
       'Should you be expecting big quarter size clots in your periods blood ?',
       'Blood loss of how many mls during periods is considered normal',
       'Do women have periods during pregnancy or when they're lactating',
       'How many phases are there in menstrual cycle',
       ' In what phase the chances to conceive are maximum',
       'What is the average menstrual cycle duration?',
       'Should you bath regularly during menstruation?',
       'If you have periods twice in 21 days do you think that is normal.1',
       'What kind of medication you should take during periods.1',
       'After how long should you change your sanitary napkin..1',
       'Should you be expecting big quarter size clots in your periods blood ?.1',
       'Blood loss of how many mls during periods is considered normal.1',
       'Do women have periods during pregnancy or when they're lactating.1',
       'How many phases are there in menstrual cycle.1',
       ' In what phase the chances to conceive are maximum.1',
       'What is the average menstrual cycle duration?.1',
       'Should you bath regularly during menstruation?.1'],
      dtype='object')

In [4]:
cls = ['Internet Access ', '1. Age',
       'Education Level ', 'Area ']
test = ['If you have periods twice in 21 days do you think that is normal',
        'What kind of medication you should take during periods',
       'After how long should you change your sanitary napkin.',
       'Should you be expecting big quarter size clots in your periods blood ?',
       'Blood loss of how many mls during periods is considered normal',
       "Do women have periods during pregnancy or when they're lactating",
       'How many phases are there in menstrual cycle',
       ' In what phase the chances to conceive are maximum',
       'What is the average menstrual cycle duration?',
       'Should you bath regularly during menstruation?',
       'If you have periods twice in 21 days do you think that is normal.1',
       'What kind of medication you should take during periods.1',
       'After how long should you change your sanitary napkin..1',
       'Should you be expecting big quarter size clots in your periods blood ?.1',
       'Blood loss of how many mls during periods is considered normal.1',
       "Do women have periods during pregnancy or when they're lactating.1",
       'How many phases are there in menstrual cycle.1',
       ' In what phase the chances to conceive are maximum.1',
       'What is the average menstrual cycle duration?.1',
       'Should you bath regularly during menstruation?.1']

In [5]:
results = npstat.chi_square(df, cls, test)

In [6]:
results

In [7]:
results.to_excel('Data/sami_fyp.xlsx')